html,
body {
    @include clearfix;
    background-color: $body-background;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
*:focus {
    outline-color: grey;
    outline-style: solid;
    outline-width: thin;
}

// global list styling
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.-list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
    li {
        &:before {
            display: none;
        }
    }
}

.-bold {
    font-weight: bold;
}

// screen reader only
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

p:empty {
    display: none;
}

*:focus {
    outline: 1px solid $mid-blue;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}
