/*
*   Font mixins
*/
@mixin h1($color: $secondary-font-color, $family: $bold-font) {
    color: $color;
    font-family: $family;
    font-size: 36px;
    @media (min-width: $tablet) {
    }
}
@mixin h2($color: $secondary-font-color, $family: $bold-font) {
    color: $color;
    font-family: $family;
    font-size: 30px;
    @media (min-width: $tablet) {
    }
}
@mixin h3($color: $secondary-font-color, $family: $bold-font) {
    color: $color;
    font-family: $family;
    font-size: 24px;
    @media (min-width: $tablet) {
    }
}
@mixin h4($color: $secondary-font-color, $family: $bold-font) {
    color: $color;
    font-family: $family;
    font-size: 18px;
    @media (min-width: $desktop) {
    }
}
@mixin h5($color: $secondary-font-color, $family: $Light-font) {
    color: $color;
    font-family: $family;
    font-size: 14px;
    @media (min-width: $tablet) {
    }
}
@mixin h6($color: $secondary-font-color, $family: $Light-font) {
    color: $color;
    font-family: $family;
    font-size: 12px;
    @media (min-width: $tablet) {
    }
}
@mixin caption($color: $gray, $family: $primary-font) {
    color: $color;
    font-family: $family;
    font-size: 10px;
    @media (min-width: $tablet) {
    }
}
@mixin button($color: $secondary-font-color, $family: $primary-font) {
    color: $color;
    font-family: $family;
    font-size: 12px;
    @media (min-width: $tablet) {
    }
}
@mixin para($color: $primary-font-color, $family: $Light-font) {
    color: $color;
    font-family: $family;
    font-size: 16px;
    @media (min-width: $tablet) {
    }
}
@mixin link($color: $primary-font-color, $family: $bold-font) {
    color: $color;
    font-family: $family;
    font-size: 14px;
    @media (min-width: $tablet) {
    }
}

p {
    @include para();
}
.h1 {
    @include h1();
}
.h2 {
    @include h2();
}
.h3 {
    @include h3();
}
.h4 {
    @include h4();
}
.h5 {
    @include button();
}
.h6 {
    @include caption();
}
