@import "../mixins/flexbox";
@import "../core/variables";
@import "../core/typography";

.blog-art {
    @media (min-width: $tablet) {
        @include flexbox();
        justify-content: center;
        margin: 76px auto 0 auto;
    }
    &__left {
        @media (min-width: $tablet) {
            width: 560px;
        }
    }
    &__right {
        @media (min-width: $tablet) {
            width: 270px;
            margin: 86px 0 0 69px;
        }
    }
    &__top {
        margin: 25px 18px;
        @media (min-width: $tablet) {
            margin: 0;
        }
    }
    &__title {
        margin: 0 0 27px 0;
        text-align: left;
        @include h2;
    }
    &__divider {
        background: linear-gradient(
            90deg,
            rgba(155, 38, 128, 1) 0.09%,
            rgba(229, 19, 35, 1) 100%
        );
        height: 1px;
        padding: 1px;
        margin: 0 0 22px 0;
    }
    &__para {
        @include para;
        text-align: left;
    }
    &__image {
        background-image: url("../../images/image.png");
        height: 222px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 0 31px 0;
        @media (min-width: $tablet) {
            height: 331px;
            width: 560px;
        }
    }
    &__btm {
        margin: 25px 18px;
        @media (min-width: $tablet) {
            margin: 25px 0;
        }
    }
    &__btm-modal {
        margin: 25px 18px;
        @media (min-width: $tablet) {
            margin: 0;
        }
    }
    &__sub-title {
        @include h4;
    }
    &__para-margin {
        margin: 0 0 15px 0;
    }
    &__sidebar {
        background-color: $warm-grey;
        height: 426px;
        padding: 34px 0 0 0;
        margin: 0 0 37px 0;
        @media (min-width: $tablet) {
            padding: 50px 0 0 0;
        }
    }
    &__button {
        @include flexbox();
        justify-content: center;
    }
    &__open-button {
        background: linear-gradient(
            90deg,
            rgba(155, 38, 128, 1) 0.09%,
            rgba(229, 19, 35, 1) 100%
        );
        height: 50px;
        width: 282px;
        @include h4($white);
        border: none;
        @media (min-width: $tablet) {
            width: 220px;
        }
    }
}
