/*
* css global reset settings
*/
html,
body {
    @include clearfix;
    background-color: $body-background;
    font-family: $primary-font;
    min-height: 100%;
    overflow-x: hidden;
    @include box-sizing(border-box);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
*:focus {
    outline-color: grey;
    outline-style: solid;
    outline-width: thin;
}

.-bold {
    font-weight: bold;
}

/*
* screen reader only
*/
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}
