/** 
 * The clearfix hack is a popular way to contain floats without resorting to using presentational markup.
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *  
 *  Source: http://nicolasgallagher.com/micro-clearfix-hack/
 */

@font-face {
  font-family: "Lato-Light";
  src: url(/fonts/Lato-Light.woff2?b20d8627394925037920ed24437e863c) format("woff2"), url(/fonts/Lato-Light.woff?6b337259c0ec1444e69c7f0f8627dbea) format("woff"), url(/fonts/Lato-Light.ttf?4c3b8b453f4a323970b8189f625fdeeb) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url(/fonts/Lato-Regular.woff2?1031840a9580bcc9b1b83a047f2282b4) format("woff2"), url(/fonts/Lato-Regular.woff?d5a55f731ce58995f4a38e977365cdad) format("woff"), url(/fonts/Lato-Regular.ttf?a8e3367a36dba92795fb9a56d99a79cc) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url(/fonts/Lato-Bold.woff2?6e4d81ad84a5b423e2592ea45ddf2242) format("woff2"), url(/fonts/Lato-Bold.woff?66c976f659d1e370c5faeb860fc8d1ea) format("woff"), url(/fonts/Lato-Bold.ttf?eada2ed66365da06d761a04b9351903b) format("ttf");
  font-style: normal;
}

/*
* Color Variables
* Using http://chir.ag/projects/name-that-color/#6195ED for color names
*/

/*
* Fonts
*/

/*
* Fonts
*/

/*
* Primary and Secondary Font Colours
*/

/*
* Body Color
*/

/*
* Box shadow
*/

/*
* Break points
*/

/*
* Z-index
*/

/*
*   Font mixins
*/

/*
* Shared styling
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.45;
}

p {
  color: #333;
  font-family: "Lato-Light", sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

.h1 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 36px;
}

.h2 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
}

.h3 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

.h4 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

.h5 {
  color: #333;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
}

.h6 {
  color: #dddddd;
  font-family: "Lato-Light", sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

/*
* css global reset settings
*/

html,
body {
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  background-color: #fff;
  font-family: "Lato-Regular", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

html .cf:before,
html .cf:after,
body .cf:before,
body .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

html .cf:after,
body .cf:after {
  clear: both;
}

html .cf,
body .cf {
  *zoom: 1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline-color: grey;
  outline-style: solid;
  outline-width: thin;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.-list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.-list-unstyled li:before {
  display: none;
}

.-bold {
  font-weight: bold;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

p:empty {
  display: none;
}

*:focus {
  outline: 1px solid #a8dadc;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.-flex {
  display: flex;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.page {
  min-height: calc(100vh - 143px);
}

@media (min-width: 768px) {
  .page {
    min-height: calc(100vh - 135px);
  }
}

.page__container {
  position: relative;
  margin: 0 auto;
  padding: 6px;
  width: 100%;
}

@media (min-width: 768px) {
  .page__container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .page__container {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .page__container--margin-120 {
    max-width: 1440px;
    margin-right: 120px;
    margin-left: 120px;
  }
}

.page__container--margin-90 {
  margin-top: 90px;
}

.page__container--full {
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .page__container--full {
    max-width: 100%;
  }
}

.page__container--small {
  padding: 5px 15px;
}

@media (min-width: 768px) {
  .page__container--small {
    max-width: 800px;
  }
}

.page__banner {
  width: 100%;
  margin: 60px auto 15px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 165px;
}

@media (min-width: 768px) {
  .page__banner {
    height: 480px;
    margin-bottom: 45px;
  }
}

.page__title {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .page__title {
    margin-bottom: 30px;
  }
}

/*
* Mixins
*/

/*
* Mixins
*/

/*
* Color Variables
* Using http://chir.ag/projects/name-that-color/#6195ED for color names
*/

/*
* Fonts
*/

/*
* Fonts
*/

/*
* Primary and Secondary Font Colours
*/

/*
* Body Color
*/

/*
* Box shadow
*/

/*
* Break points
*/

/*
* Z-index
*/

/*
*   Font mixins
*/

/*
* Shared styling
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.45;
}

p {
  color: #333;
  font-family: "Lato-Light", sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

.h1 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 36px;
}

.h2 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
}

.h3 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

.h4 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

.h5 {
  color: #333;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
}

.h6 {
  color: #dddddd;
  font-family: "Lato-Light", sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.-flex {
  display: flex;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.page {
  min-height: calc(100vh - 143px);
}

@media (min-width: 768px) {
  .page {
    min-height: calc(100vh - 135px);
  }
}

.page__container {
  position: relative;
  margin: 0 auto;
  padding: 6px;
  width: 100%;
}

@media (min-width: 768px) {
  .page__container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .page__container {
    padding: 0px;
  }
}

@media (min-width: 768px) {
  .page__container--margin-120 {
    max-width: 1440px;
    margin-right: 120px;
    margin-left: 120px;
  }
}

.page__container--margin-90 {
  margin-top: 90px;
}

.page__container--full {
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .page__container--full {
    max-width: 100%;
  }
}

.page__container--small {
  padding: 5px 15px;
}

@media (min-width: 768px) {
  .page__container--small {
    max-width: 800px;
  }
}

.page__banner {
  width: 100%;
  margin: 60px auto 15px auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 165px;
}

@media (min-width: 768px) {
  .page__banner {
    height: 480px;
    margin-bottom: 45px;
  }
}

.page__title {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .page__title {
    margin-bottom: 30px;
  }
}

.article__h1 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 36px;
}

.article__h2 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
}

.article__h3 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

.article__h4 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

.article__h5 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 14px;
}

.article__h6 {
  color: #333;
  font-family: "Lato-Bold", sans-serif;
  font-size: 12px;
}

.article__para {
  color: #333;
  font-family: "Lato-Light", sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

.article__caption {
  color: #dddddd;
  font-family: "Lato-Light", sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

.article__box-shadow {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

