@font-face {
  font-family: "Lato-Light";
  src: url(/fonts/Lato-Light.woff2?b20d8627394925037920ed24437e863c) format("woff2"), url(/fonts/Lato-Light.woff?6b337259c0ec1444e69c7f0f8627dbea) format("woff"), url(/fonts/Lato-Light.ttf?4c3b8b453f4a323970b8189f625fdeeb) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url(/fonts/Lato-Regular.woff2?1031840a9580bcc9b1b83a047f2282b4) format("woff2"), url(/fonts/Lato-Regular.woff?d5a55f731ce58995f4a38e977365cdad) format("woff"), url(/fonts/Lato-Regular.ttf?a8e3367a36dba92795fb9a56d99a79cc) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url(/fonts/Lato-Bold.woff2?6e4d81ad84a5b423e2592ea45ddf2242) format("woff2"), url(/fonts/Lato-Bold.woff?66c976f659d1e370c5faeb860fc8d1ea) format("woff"), url(/fonts/Lato-Bold.ttf?eada2ed66365da06d761a04b9351903b) format("ttf");
  font-style: normal;
}

/*
* Color Variables
* Using http://chir.ag/projects/name-that-color/#6195ED for color names
*/

/*
* Fonts
*/

/*
* Primary and Secondary Font Colours
*/

/*
* Body Color
*/

/*
* Box shadow
*/

/*
* Break points
*/

/*
* Z-index
*/

/*
*   Font mixins
*/

p {
  color: #111111;
  font-family: "Lato-Light", sans-serif;
  font-size: 16px;
}

.h1 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 36px;
}

.h2 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
}

.h3 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

.h4 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

.h5 {
  color: #aaaaaa;
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
}

.h6 {
  color: #aaaaaa;
  font-family: "Lato-Regular", sans-serif;
  font-size: 10px;
}

html,
body {
  background-color: #ffffff;
  font-family: "Lato-Regular", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

html:before,
html:after,
body:before,
body:after {
  content: " ";
  display: table;
}

html:after,
body:after {
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline-color: grey;
  outline-style: solid;
  outline-width: thin;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.-list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.-list-unstyled li:before {
  display: none;
}

.-bold {
  font-weight: bold;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

p:empty {
  display: none;
}

*:focus {
  outline: 1px solid #a8dadc;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

/*
* Color Variables
* Using http://chir.ag/projects/name-that-color/#6195ED for color names
*/

/*
* Fonts
*/

/*
* Primary and Secondary Font Colours
*/

/*
* Body Color
*/

/*
* Box shadow
*/

/*
* Break points
*/

/*
* Z-index
*/

/*
*   Font mixins
*/

p {
  color: #111111;
  font-family: "Lato-Light", sans-serif;
  font-size: 16px;
}

.h1 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 36px;
}

.h2 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 30px;
}

.h3 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

.h4 {
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
}

.h5 {
  color: #aaaaaa;
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
}

.h6 {
  color: #aaaaaa;
  font-family: "Lato-Regular", sans-serif;
  font-size: 10px;
}

.article__title {
  background-color: rebeccapurple;
  color: #aaaaaa;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
}

