/*
* Importing here allows vue to read styles
*/
@import "../1-helpers/variables";
@import "../1-helpers/mixins";
@import "../2-tools/util";
@import "../3-basics/buttons";
@import "../3-basics/typography";
@import "../4-layout/page";

.playground {
    width: 500px;
    @include push--auto;

    &__h1 {
        @include h1;
        background-color: salmon;
    }
    &__h2 {
        @include h2;
    }
    &__h3 {
        @include h3;
    }
    &__h4 {
        @include h4;
    }
    &__h5 {
        @include h5;
    }
    &__h6 {
        @include h6;
    }
    &__para {
        @include para;
        max-width: 350px;
    }
    &__caption {
        @include caption;
    }
    &__box-shadow {
        position: relative;
        @include alerted;
        height: 200px;
        border-radius: 8px;
        box-shadow: $box-shadow;
        @include linear-gradient(rgb(250, 128, 114), rgb(173, 216, 230) 100%);
        margin: 10px 0 10px 0;
    }
    input {
        @include input;
        @include color(salmon);
    }
    button {
        @include button;
        @include color(salmon);
    }
}

/*
* Using Price util
*/
// .price {
//     @extend %currency;
// }
