/*
* Importing here allows vue to read styles
*/
@import "../1-helpers/variables";
@import "../1-helpers/mixins";
@import "../2-tools/util";
@import "../3-basics/buttons";
@import "../3-basics/typography";
@import "../4-layout/page";

.playground {
    width: 1200px;
    margin: 50px 0;
    @include push--auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

    &__box {
        background-color: $gray;
        padding: 5px;
    }
    &__heading {
        @include h2($white);
        @include flexbox;
        @include justify-content(flex-start);
        @include align-items(center);
        background-color: $mine-shaft;
        margin: 0 0 10px 0;
        padding: 0 0 0 5px;
        height: 60px;
    }
    &__typography {
        margin: 0 0 0 5px;
    }
    &__h1 {
        @include h1;
    }
    &__h2 {
        @include h2;
    }
    &__h3 {
        @include h3;
    }
    &__h4 {
        @include h4;
    }
    &__h5 {
        @include h5;
    }
    &__h6 {
        @include h6;
    }
    &__para {
        @include para;
        max-width: 350px;
    }
    &__caption {
        @include caption;
        margin: 0 0 0 5px;
    }
    &__link {
        margin: 0 0 0 5px;
    }
    &__box-shadow {
        @include relative;
        @include alerted;
        height: 200px;
        border-radius: 8px;
        box-shadow: $box-shadow;
        @include linear-gradient(rgb(59, 59, 59), rgb(142, 254, 17) 100%);
        margin: 10px 0 10px 0;
    }
    input {
        @include input;
        @include color($chartreuse);
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 10px;
    }
    &__btn {
        @include button;
        @include color($chartreuse);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__btn-shadow {
        @include button-shadow;
        @include color($chartreuse);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__ul {
        margin: 0 0 10px 5px;
    }
}

/*
* Using Price util
*/
// .price {
//     @extend %currency;
// }
