/*
* Mixins
*/
// @import "../2-helpers/flexbox";
/*
* Mixins
*/
@import "../1-helpers/variables";
@import "../4-basics/typography";
@import "../3-tools/util";
@import "../5-layout/page";

.article {
    &__h1 {
        @include h1;
        background-color: salmon;
    }
    &__h2 {
        @include h2;
    }
    &__h3 {
        @include h3;
    }
    &__h4 {
        @include h4;
    }
    &__h5 {
        @include h5;
    }
    &__h6 {
        @include h6;
    }
    &__para {
        @include para;
        max-width: 350px;
    }
    &__caption {
        @include caption;
    }
    &__box-shadow {
        position: y;
        @include alerted;
        height: 200px;
        width: 200px;
        border-radius: 8px;
        box-shadow: $box-shadow;
    }
}

/*
* Using Price util
*/
// .price {
//     @extend %currency;
// }
